*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    min-height: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.6)50%, rgba(0,0,0,0.6)50%), url(/Images/Bakery_items_6.jpg);
    justify-content: center;
    align-items: center;
    background-position: center;
}

.contact{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 200px;
    justify-content: center;
    margin: 50px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 3px 3px 30px 2px rgb(0, 0, 0);
}
.container .contact h1{
    text-shadow: 5px 5px 5px black;
}
.container .contact h1,p,a{
    padding: 12px;
    color: aliceblue;
    width: 100%;
    text-align: center;
}

.container .contact p:hover,a:hover{
    cursor: pointer;
    color:aquamarine;
}


.container form{
    display: flex;
    flex-wrap: wrap;
    width: 670px;
    height: 600px;
    justify-content: center;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 3px 3px 30px 2px rgb(0, 0, 0);
}

.container form h1{
    color: aliceblue;
    font-weight: 700px;
    line-height: 2px;
    margin-top: 40px;
    width: 100%;
    text-align: center;
    text-shadow: 5px 5px 5px black;

}

.container form input{
    display: flex;
    width: 300px;
    height: 50px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 20px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid aliceblue;
    color: aliceblue;
}
.container form input:nth-child(2n){
    justify-content: end;
}

.container form input::placeholder{
    color:#b4b6bb;
}

.container form #lastname,
.container form #mobile{
    display: flex;
    margin-left: 20px;
}

.container form h4{
    display: flex;
    color: #b4b6bb;
    font-weight: 300px;
    font-size: 20px;
    width: 600px;
    margin-top: 20px;
}

.container form textarea{
    background: none;
    border: none;
    border-bottom: 2px solid aliceblue;
    color: aliceblue;
    font-weight: 200px;
    font-size: 20px;
    padding: 10px;
    outline: none;
    min-height: 90px;
    max-height: 90px;
    min-width: 620px;
    max-width: 620px;
}

.container form #button{
    border: none;
    background: aliceblue;
    border-radius: 7px;
    margin-top: 20px;
    font-weight: 600px;
    font-size: 25px;
    color: black;
    width: 200px;
    height: 60px;
    padding: 0px;
    margin-bottom: 30px;
    transition: 0.3s;
}

.container form #button:hover{
    background: black;
    color: aliceblue;
}


@media(max-width: 800px){
    .container{
        min-width: 720px;
        height: 1000px;
    }

    .container form input{
        margin-bottom: 12px;
        margin-left: 20px; margin-right: 20px;
        width: 100%;
    }

    .input-box:nth-child(2n){
        justify-content: space-between;
    }

    form{
        max-height: 380px;
        overflow: auto;
    }

    form::-webkit-scrollbar{
        width: 0;
    }
}

@media(max-width: 1300px){
    .container{
        background-size: cover;
        height: 1000px;
    }
}